*
	box-sizing: border-box

.row
	&::before,
	&::after 
		clear: both
		content: ""
		display: table

body
	font-family: sans-serif
	background: #00c7e8

.newcountry
	font-size: 16px
	font-weight: bold
	background-color: #fff
	margin-bottom: 30px
	[class^="col-"]
		padding: 10px 20px

		&:nth-child(2)
			font-weight: normal
	.row	
		margin: 0

		&:not(:first-child)
			border-top: 1px solid #aeaeae

.btn
	&:hover
		@extend .btn-warning
		border: 1px solid red